#content {
  font: 14px Helvetica, arial, sans-serif;
}

#firstHeading {
  font-size: 26px;
  color: #2988D3;
}

#firstHeading img {
  vertical-align: middle;
}

#tip {
  padding: 10px;
  background-color: #EFD6C2;
  border: 1px solid #D68949;
} 